@import "tailwindcss";

.font-figtree {
  font-family: "Figtree", sans-serif;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
  @apply w-[26.5px];
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
  @apply w-[26.2px];
}

@layer utilities {
  @keyframes scaleIn {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .animate-fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
  }
}
