@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
  @apply w-[26.5px];
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
  @apply w-[26.2px];
}

#primary {
  @apply text-cyan-500;
}

#alertContact {
  transition: opacity 300ms ease-in-out;
}

.fade-out {
  opacity: 0;
}

/* Initial state for spans */
span {
  display: inline-block;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-out-up {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-in-down {
  opacity: 1;
  transform: translateY(0);
}

.reset {
  opacity: 0;
  transform: translateY(10px);
}

.opacity-hidden {
  opacity: 0;
}